
body{
  padding:0;
  margin:0;
  height:10000px;
  overflow-x:hidden;
  touch-action:pan-y;
}

canvas{
  position:fixed;
}

h2{
  position:fixed;
  color:#FFF;
  z-index:1000000;
  font-size:13px;
}
